

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-row {
    display: flex;
    flex-direction: row;
}

.title-font {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

.title-border {
    position: relative;
    overflow: hidden;
}

.title-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(to right, #4CAF50, #222, #4CAF50);;
    z-index: 0;
    transition: width 0.5s ease-in-out;
}

.title-border:hover::after {
    width: 95%;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.m-auto {
    margin: auto;
}

@keyframes pulseGlow {
    0% {
        filter: drop-shadow(0 0 0px white);
    }
    50% {
        filter: drop-shadow(0 0 15px white);
    }
    100% {
        filter: drop-shadow(0 0 0px white);
    }
}

#logo {
    filter: drop-shadow(0 0 15px white);
    animation: pulseGlow 3s linear infinite;
}

.list {
    max-width: 768px;
    margin: 15px auto;
}

.list li {
    list-style: none;
}

.list li:hover {
    animation: pulseGlow 3s linear infinite;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

main {
    max-width: 1024px;
    margin: 20px auto;
    flex: 1;
}

.p-content {
    text-align: justify;
    font-size: 1.5rem;
}

.bg-gray {
    background-color: #dcdcdc;
}

.rounded {
    border-radius: 15px;
}

.card {
    overflow: hidden;
    width: 30%;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.m-5 {
    margin: 5%;
}

footer {
    width: 100%;
    margin-top: 30px;
    padding: 5px 0;
    background-color: #107c10;
}

footer p {
    text-align: center;
    color: white;
}

.divider {
    border: none;
    height: 4px;
    background: linear-gradient(to right, #4CAF50, #222, #4CAF50);
    margin: 30px 0;
    border-radius: 5px;
}
